common --show_timestamps --enable_platform_specific_config --noremote_upload_local_results --disk_cache=.cache
# --experimental_convenience_symlinks=ignore

build --cxxopt='-std=c++14'
build --action_env SENTRY_DSN_PATH= --action_env SENTRY_DSN_HOST=

build:buildkite --experimental_remote_downloader_local_fallback=false
query:buildkite --experimental_remote_downloader_local_fallback=false
fetch:buildkite --experimental_remote_downloader_local_fallback=false

common:upload --disk_cache=
common:upload --remote_upload_local_results
common:buildkite --config=upload